<div class="legende" style="margin: 0em 0em 1em 0em !important;">
    <span class="txt_legende"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Informations</span>
    <span class="glyphicon statut_1"></span>
        <span class="texte_legende tl1">&nbsp;Classeur en cours&nbsp;&nbsp;&nbsp;<span
		    class="pipe">|&nbsp;&nbsp;&nbsp;</span>
blablablablablablablablablablabla
</div>