<br/>

<div id="fichiers" class="dropzone"></div>

<script src="{{ asset('js/dropzone.js') }}"></script>
<script type="text/javascript">

    var dropzone = new Dropzone("div#fichiers", { url: "{{ oneup_uploader_endpoint('docs') }}" });

    dropzone.on('success', function (file, response) {
        $.each(response, function (serverfilename, originalname) {
            $('#documentcontent').append("<input type='hidden' name='" + serverfilename + "' value='" + originalname + "'> ");
        });
    });

</script>