<br/>

<div id="fichiers" class="dropzone"></div>

<script src="{{ asset('js/dropzone.js') }}"></script>
<script type="text/javascript">

    $("div#fichiers").dropzone({ url: "/file/post" });

</script>