{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            &nbsp;&nbsp;&nbsp;Liste des classeurs retractables
        </div>
        {% include 'SesileClasseurBundle:Classeur:liste_retracter.html.twig' %}
    </div>
    <script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
    <script type="application/javascript" src="//cdn.datatables.net/plug-ins/1.10.9/api/page.jumpToData().js"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="application/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/sorting/datetime-moment.js"></script>

    <link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>
    <script type="application/javascript">
	$(document).ready(function () {

        $.fn.dataTable.moment( 'DD/MM/YYYY HH:mm' );
        $.fn.dataTable.moment( 'DD/MM/YYYY' );
        $(".dtables").dataTable({
		"oLanguage": {
		    "sSearch": "Rechercher&nbsp;:",
		    "sInfo": "Classeurs _START_ &agrave; _END_ sur _TOTAL_",
		    "sInfoEmpty": "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
		    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
		    "sZeroRecords": "Aucun classeur r&eacute;tractable &agrave; afficher",
		    "sLengthMenu": "Afficher _MENU_ classeurs r&eacute;tractables par page",
		    "oPaginate": {
			"sFirst": "",
			"sPrevious": "",
			"sNext": "",
			"sLast": ""
		    }
		},
        "order": [[ 1, "desc" ]],
		"iDisplayLength": 15,
		"aLengthMenu": [15, 30, 50, 100],
		"sDom": 'lft<"footer_datatables"ip>',
		"aoColumnDefs": [
            { "aTargets": [ 1,2,3,4,5 ], sClass: "center" },
//            { "bSortable": false, "aTargets": [ 3 ], sClass: "center" },
            { "bSortable": false, "aTargets": [ 3,6 ], sClass: "center" }
		],
		"sPaginationType": "full_numbers",

	    });
    });
    </script>
{% endblock %}