{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <h1>Liste des classeurs retractables</h1>
    {% include 'SesileClasseurBundle:Classeur:liste.html.twig' %}
{% endblock %}
