{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            &nbsp;&nbsp;&nbsp;Liste des classeurs retractables
        </div>
        {% include 'SesileClasseurBundle:Classeur:liste.html.twig' %}
    </div>
{% endblock %}