{% if classeur.isValidableByDelegates(usersdelegated) %}

    {% if signable %}
        <button type="submit" class="btn btn-success btn-valider-signer"
                data-action="{{ path('signform',{'id':classeur.id}) }}">
            <span class="glyphicon glyphicon-ok"></span>
            &nbsp;Valider et Signer
        </button>

        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#fenetreModal"
                data-whatever="@mdo" class=".bs-example-modal-lg">
            <span class="glyphicon glyphicon-remove"></span>
            &nbsp;Refuser
        </button>



    {% else %}

        {% if classeur.status == 0 %}
            <button type="submit" class="btn btn-success btn-valider" data-action="{{ path("classeur_soumis") }}">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Soumettre
            </button>

        {% else %}
            <button type="submit" class="btn btn-success btn-valider" data-action="{{ path("classeur_valider") }}">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Valider
            </button>

        {% endif %}

        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#fenetreModal" data-whatever="@mdo">
            <span class="glyphicon glyphicon-remove"></span>
            &nbsp;Refuser
        </button>



    {% endif %}




{% endif %}





{% if classeur.isSupprimableByDelegates(usersdelegated) %}

{% endif %}

