{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-list"></span>
            &nbsp;&nbsp;&nbsp;Liste des classeurs
        </div>
        {% include 'SesileClasseurBundle:Classeur:liste.html.twig' %}
        <a href="{{ path('classeur_new') }}">
            <button type="button" class="btn btn-default navbar-btn">
                Créer un classeur
            </button>
        </a>
        {% include 'SesileClasseurBundle:Classeur:legende.html.twig' %}
    </div>
    <script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
    <link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>
    <script type="text/javascript">
        $(".dtables").dataTable({
            processing: true,
            serverSide: true,
            ajax: "{{ path("ajax_classeurs_list") }}",
            oLanguage: {
                sSearch: "Rechercher&nbsp;:",
                sInfo: "Classeur  _START_ &agrave; _END_ sur _TOTAL_",
                sInfoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                sInfoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                oPaginate: { sFirst: "", sPrevious: "", sNext: "", sLast: "" },
                sZeroRecords: "Aucun classeur &agrave; afficher",
                sEmptyTable: "Aucun classeur &agrave; afficher",
                sLengthMenu: "Afficher _MENU_ classeurs par page"
            },
            iDisplayLength: 15,
            aLengthMenu: [15, 30, 50, 100],
            sDom: 'lft<"footer_datatables"p>',
            aoColumnDefs: [
                {
                    "aTargets": [4],
                    "mRender": function ( data, type, full ) {
                        return '<span class="glyphicon statut_' + data + '"></span>';
                    }
                },
                {
                    aTargets: [5],
                    bSortable: false,
                    "mRender": function ( data, type, full ) {
                        return '<a href="' + Routing.generate('classeur_edit', { id: data }) + '"><span class="glyphicon glyphicon-pencil"></span></a>';
                    }
                }
            ],
            sPaginationType: "full_numbers"
        });
    </script>
{% endblock %}