{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-list"></span>
            &nbsp;&nbsp;&nbsp;Liste des classeurs
        </div>
        {% include 'SesileClasseurBundle:Classeur:liste.html.twig' %}
        <a href="{{ path('classeur_new') }}">
            <button type="button" class="btn btn-default navbar-btn">
                Ajouter un classeur
            </button>
        </a>
        {% include 'SesileClasseurBundle:Classeur:legende.html.twig' %}
    </div>
{% endblock %}