<div class="legende">
    <span class="txt_legende"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;Légende</span>
    <span class="glyphicon statut_1"></span>
        <span class="texte_legende tl1">&nbsp;Classeur en cours&nbsp;&nbsp;&nbsp;<span
                    class="pipe">|&nbsp;&nbsp;&nbsp;</span>

    <span class="glyphicon statut_0"></span>
        <span class="texte_legende tl0">&nbsp;Classeur refusé&nbsp;&nbsp;&nbsp;<span
                    class="pipe">|&nbsp;&nbsp;&nbsp;</span></span>

        <span class="glyphicon statut_2"></span>
        <span class="texte_legende tl2">&nbsp;Classeur finalisé&nbsp;&nbsp;&nbsp;<span
                    class="pipe">|&nbsp;&nbsp;&nbsp;</span></span>

        <span class="glyphicon statut_3"></span>
        <span class="texte_legende tl3">&nbsp;Classeur retiré&nbsp;&nbsp;&nbsp;<span
                    class="pipe">|&nbsp;&nbsp;&nbsp;</span></span>

        <span class="glyphicon statut_4"></span>
        <span class="texte_legende tl4">&nbsp;Classeur retracté</span>
</div>