<table class="table tableau dtables">
    <thead>
    <tr>
        <th>Titre du classeur</th>
        <th>Date de création</th>
        <th>Date limite de validation</th>
        <th>Intervenant</th>
        <th>Type de classeur</th>
        <th>Statut actuel</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
<link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>