{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <h1>Gestion des circuits</h1>
        {% include 'SesileCircuitBundle:Circuit:gestion.html.twig' %}
    </div>
{% endblock %}