{
    "http-basic": {
        "www.setasign.com": {
            "username": "username@gmail.com",
            "password": "mdp"
        }
    },
    "github-oauth": {
        "github.com": "OAuth-token"
    }
}