<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    </head>
    <body>
        <div class="callout alert" style="margin:20px">
            <h5>
                {{ error }}
            </h5>
            <p>
                {{ message }}
            </p>
        </div>
    </body>
</html>