<table class="table tableau">
    <thead>
        <tr>
            <th>tetete</th>
            <th>tete</th>
            <th>tetet</th>
        </tr>
    </thead>
    {% for action in classeur.actions %}

    {% endfor %}
</table>