<div class="row col-lg-12" id="circuit_main_copy">
    <div id="circuit_etapes_copy" >
        <div id="circuit_with_js_copy">
            <div id="contetapes_copy" class="ui-sortable">
                <div class="col-lg-2 well etapes-circuit">
                    <div class="text-center"><h4>Utilisateurs</h4></div>
                    <select class="userscopy" multiple="multiple" style="width: 100%" id="listUsersCopy" name="usersCopy[]" {% if classeur.status != 0 %}disabled="disabled"{% endif %}>
                        {% for user in users %}
                            <option value="user-{{ user.id }}" data-type="user" {% if user in classeur.copy %} selected{% endif %}>{{ user.nom }} {{ user.prenom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#listUsersCopy").select2({
            placeholder: function() {
                $(this).data('placeholder');
            }
        });
    })
</script>
