{% extends 'SesileClasseurBundle:Formulaires:elpadre.html.twig' %}

{% block extraform %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-info">Le dernier validateur devra <strong>signer électroniquement</strong> les
                bordereaux <strong>PESV2</strong> contenus dans ce classeur.
            </div>

        </div>
    </div>
{% endblock %}
