/*
$navbar-height: 60px;
$font-family-sans-serif: 'Roboto', sans-serif;
$navbar-font-color-sictiam: #ffffff;
$navbar-color-sictiam: #1eb095;
$navbar-color-hover-sictiam: #333333;

$navbar-default-color: $navbar-font-color-sictiam;
$navbar-default-link-color: $navbar-font-color-sictiam;
$navbar-default-link-active-color: $navbar-color-hover-sictiam;
$navbar-default-link-hover-color: $navbar-color-hover-sictiam;
$navbar-default-bg: $navbar-color-sictiam;
$navbar-border-radius: 0;
$navbar-margin-bottom: 0;
$navbar-default-link-active-bg: $navbar-color-sictiam;
*/


/* Bug fix compilattion */
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';
//@import "~foundation-cli";
@import "~foundation-sites/assets/foundation.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
.navbar-default{
  font-size: $font-size-large;

  li.separator {
    padding-top:$navbar-padding-vertical;
    color: $navbar-font-color-sictiam;
  }
}
*/

/*
.glyphicon {
  padding-right:0.5em;
}


.left-side {
  background: #262c33;
}

.middle-side{
  background: #ffffff;
}

.right-side {
  background: #e6e8ee;
}*/
