@media screen and (min-height: 670px) and (max-height: 730px) {
    #logo img {
        width: 57%;
    }
    #img_imposetonstyle {
        width: 37% !important;
    }
    .menu-elem {
    min-height: 2.5em;
    line-height: 2.5em;
}
    .entete-menu {
    height: 2.5em;
}
}

@media screen and (max-height: 670px) {
    #logo img {
        width: 55%;
    }
    #img_imposetonstyle {
        width: 35% !important;
    }
    .menu-elem {
        min-height: 2.3em;
        line-height: 2.3em;
    }
    .entete-menu {
        height: 2.3em;
    }
}