.menu ul {
    list-style-type: none;
}

.menu-elem {
    min-height: 40px;
    line-height: 40px;
    vertical-align: middle;
    height: auto;
    width: 100%;
    text-indent: 10px;
}

.dd-menu {
    display: none;
    padding: 0 0 0 10px;
}

.dd-toggle  {
    width: 100%;
}

.menu-rouge  .entete-menu {
    background-color: rgba(202, 76, 77, 1);
}

.menu-bleu .entete-menu  {
   background-color: rgba(50, 133, 171, 1);
}

.menu-bleu .dd-menu {
    background-color: rgba(50, 133, 171, 0.7);
}


.menu-jaune .entete-menu  {
    background-color: rgba(219, 162, 9, 1);
}

.menu-jaune .dd-menu {
    background-color: rgba(219, 162, 9, 0.7);
}

.menu ul li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-vert .entete-menu  {
    background-color: rgba(131, 177, 58, 1);
}

.menu-vert .dd-menu {
    background-color: rgba(131, 177, 58, 0.7);
}
