* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Droid Sans', sans-serif;
	background-color: #eaeaea;
	height: 100%;
}

#maman {
	background-color: #cccccc;
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
}

.popover {
	max-width: 58em;
	width: auto;
}

#img_accueil {
	width: 267px;
	height: 200px;
	margin: auto;
}

/*DÉBUT MENU*/
#gauche {
	background: white url("/images/vichy.png");
	display: table-cell;
	position: fixed;
	z-index: 2;
	min-height: 100%;
	width: 15%;
	box-shadow: 0.143em 0 0.8em #3a3a3a;
}

#logo img {
	max-width : 190px;
	margin: auto;
	margin-bottom: 5%;
	margin-top: 5%;
}

#img_imposetonstyle {
	margin: 8% auto 12% auto;
	position: relative;
	margin-left:50%;
	left: -50px;
	margin-top: 12% ;
	margin-bottom: 12%;
	width:100px;
	height:100px;
}

#separateur_logo {
	width: 100%;
	margin: auto;
}

/*.border_imposetonstyle{*/
	/*position: relative;*/
	/*border: 5px solid #cccccc;*/
	/*width: 80%;*/
	/*margin: auto;*/
	/*margin-bottom: 10%;*/
/*}*/

/*.border_imposetonstyle:after, .border_imposetonstyle:before {*/
	/*bottom: 100%;*/
	/*left: 50%;*/
	/*border: solid transparent;*/
	/*content: " ";*/
	/*height: 0;*/
	/*width: 0;*/
	/*position: absolute;*/
	/*pointer-events: none;*/
/*}*/

/*.border_imposetonstyle:after {*/
	/*border-color: rgba(255, 255, 255, 0);*/
	/*border-bottom-color: #ffffff;*/
	/*border-width: 22px;*/
	/*margin-left: -22px;*/
/*}*/

/*.border_imposetonstyle:before {*/
	/*border-color: rgba(204, 204, 204, 0);*/
	/*border-bottom-color: #cccccc;*/
	/*border-width: 29px;*/
	/*margin-left: -29px;*/
/*}*/

/*HEADER FOOTER*/
#droite {
	min-height: 100%;
	background-color: #eaeaea;
	display: table-cell;
	padding: 0 1em 7% 1em;
	vertical-align: top;;
	width: 85%;
}

#header, #lecontenu, #footer {
}

#header {
	min-height: 5%;
	text-align: right;
	margin: auto;
	padding: .5em 0em 1em 0em;
	width: 91%;
}

#lecontenu {
	width: 91%;
	margin: auto;
	min-height: 85%;
	background-color: #ffffff;
}

#footer {
	max-height: 10%;
	margin: auto;
	padding-bottom: 1em;
	text-align: center;
	position: absolute;
}

/*MENU CONNEXION*/
.menu_connexion {
	text-align: right;
}

.menu_connexion
.glyphicon {
	float: left;
}

.menu_connexion li:hover
.glyphicon {
	color: rgba(50, 133, 171, 1);

}

.userpicture {
	width: 2em;
	height: 2em;
	height: 2em;
	background-color: #ebebeb;
	margin: 0em 0.5em 0em 0em;
}

.legal,
.legal a {
	font-size: 0.9em;
	color: rgba(147, 147, 147, 1);
}

.signature,
.signature a {
	font-size: 0.8em;
	color: rgba(147, 147, 147, 1);
}

.tooltip-inner .creativecommons {
	text-transform: lowercase !important;
	color: #000000;
	background: #ffffff;
	border: solid 1px #ffffff;
}

#textefooter {
	width: 90%;
	position: relative;
	top: 1em;
	display: inline-block;
}

#textefooter a {
	text-decoration: none;
	cursor: pointer;
}

#logosictiampetit {
	display: inline-block;
	float: right;
}

/*GLYPHICONS + NAMEINPUT*/
.titre_bloc_accueil .glyphicon-home,
.titre_bloc_accueil .glyphicon-edit,
.titre_bloc_accueil .glyphicon-eye-open,
.titre_bloc_accueil .glyphicon-share {
	margin: 0 0.571em 0 0;
	color: rgba(109, 109, 109, 1);
	font-size: 1.125em;
}

#contenu_acceuil {
	background-color: #eaeaea;
	width: 100%;
}

.bloc_accueil,
.bloc_page {
	background-color: #ffffff;
	padding: 1.2em;
	margin-bottom: 1.429em;
}

.titre_bloc_accueil {
	background-color: #ffffff;
	margin: 1em 0em .95em 0em;
	border-bottom: 3px dotted #555555;
	text-transform: uppercase;
	color: rgba(109, 109, 109, 1);
	font-weight: bold;
}

.boutons_action {
	width: 7.143em;
	text-align: center;
}

.boutons_action a:hover {
	text-decoration: none;
}

.user-row .boutons_action .glyphicon,
.coll-row .boutons_action .glyphicon,
.classeur-row .boutons_action .glyphicon,
.delegation_row .boutons_action .glyphicon {
	/*visibility: hidden;*/
	margin: 0 .3em 0 .3em;
}

.coll-row:hover .boutons_action .glyphicon,
.user-row:hover .boutons_action .glyphicon,
.classeur-row:hover .boutons_action .glyphicon,
.delegation_row:hover .boutons_action .glyphicon {
	color: rgba(109, 109, 109, 1);
	visibility: visible;
}

.coll-row:hover .boutons_action .glyphicon:hover,
.user-row:hover .boutons_action .glyphicon:hover,
.classeur-row:hover .boutons_action .glyphicon:hover,
.delegation_row:hover .boutons_action .glyphicon:hover {
	visibility: visible;
	color: rgba(50, 133, 171, 1);
}

.user-row:hover, .classeur-row:hover, .delegation_row:hover, .coll-row:hover {
	background-color: rgba(50, 133, 171, 0.5);
	cursor: pointer;
}

.fuckingvisibility{
	min-width: 21em !important;
}

label{
	color:#6D6D6D;
}

.titre_page {
	font-size: 1.5em;
	margin-bottom: 1em;
	text-transform: uppercase;
	color: #222222;
	border-bottom: 3px dotted #555555;
}

.titre_form_element {
	margin: 0.714em 0 0.714em 0;
	text-transform: uppercase;
	color: #ffffff;
	width: 100%;
	height: 1.8em;
	line-height: 1.8em;
	vertical-align: middle;
	background-color: rgb(50, 133, 171);
	padding-left: 0.214em;
}

/*BOUTON VISI CLASSEUR*/
.visi_button_actif {
	color: #ffffff !important;
	background-color: #83b13a !important;
}

.visi_button div {
	width: 5em;
	padding: .3em 1em;
	color: #a9a9a9;
	background: #f5f5f5;
	border: 1px solid #cccccc;
	font-weight: bold;
	display: inline;
	cursor: pointer;
}

.visi_button input {
	display: none;
}

#visi_publique {
	border-radius: 3px 0 0 3px;
}

#visi_prive {
	border-radius: 0 3px 3px 0;
}

#fichiers {
	border: 5px dashed #cccccc;
}

.selectedfile {
	border-color: #66afe9;
	outline: 2;
	-webkit-box-shadow: inset 0 7px 7px rgba(0, 0, 0, 0.075), 0 0 9px rgba(102, 175, 233, 1.0);
	box-shadow: inset 0 7px 7px rgba(0, 0, 0, 0.075), 0 0 9px rgba(102, 175, 233, 1.0);

}

.nameinput:focus {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*TABLEAU*/
.tableau {
	top: 1em;
	border: 1px solid rgb(204, 204, 204);
	color: rgba(109, 110, 112, 1);
	text-align: center;
}

.tableau th {
	border: 1px solid rgb(204, 204, 204);
	text-align: center;
	color: rgb(109, 110, 112);
	font-size: .9em;
	vertical-align: middle;

}

.tableau tr.odd {
	background-color: rgba(50, 133, 171, 0.2);
}

.tableau tr.even {
	background-color: white;
}

.tableau tr td {
	font-size: .9em;
}

/*STATUT*/
.statut_1,
.tl1 {
	color: rgb(0, 131, 201);
}

.statut_2,
.tl2 {
	color: rgb(15, 148, 0);
}

.statut_4,
.tl4 {
	color: rgb(240, 117, 0);
}

.statut_3,
.tl3 {
	color: rgb(109, 109, 109);
}

.statut_0,
.tl0 {
	color: rgb(213, 0, 25);
}

/*LEGENDE*/
.legende {
	border: 1px solid #cccccc;
	padding: 0.5em 1em 0.5em 1em;
	margin: 3em 0em 1em 0em;
}

.legendeitem,
.pipe{
	float: left;
}

.clear {
	clear: both;
}

.txt_legende {
	display: block;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #cccccc;
	text-transform: uppercase;
	color: rgba(109, 109, 109, 1);
	font-weight: bold;
}

.indicationslegende{
	display: none;
}

.pipe {
	color: #cccccc;
}

.plus  {
	float: right;
	cursor: pointer;
}

/*DELEGATIONS*/
.deleg_debut_fin {
	border-top: 3px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 3px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin: 1em 0em;
}

.deleg-to-someone {
	color: #6d6e70;
	height: 2em;
	min-width:5em;
	line-height: 18px;
	padding: 4px 4px 4px 5px;
	text-shadow: 0 1px 0 #ffffff;
}
.delegdo{
	color: #83B13A;
}
.delegre{
	color: #CA4C4D;
}

select [name=user] {
	width: 50px;
}

/*BOUTONS FORMULAIRE*/
.form_action {
	display: inline-block;
}

.retourbtn{
	display: inline;
}

.btn {
	margin: 0 3px 0 0 !important;
}

.btn-valider {
	background-color: rgb(15, 148, 0);
}

.btn-modifier {
	background-color: rgb(15, 148, 0);
}

.btn-refuser {
	background-color: rgb(213, 0, 25);
}

.btn-supprimer {
	background-color: rgb(109, 109, 109);
}

.btn-retracter {
	background-color: rgb(240, 117, 0);
}

.btndemerde{
	position: relative;
	bottom: 2.4em;
	left: 6.2em;
}

.form-horizontal .control-label{
	text-align: left !important;
	padding-top: 0em !important;
}

/*BOUTONS TABLEAU*/
.active_inactive_user .glyphicon-ok {
	color: #83b13a;
}

.active_inactive_user .glyphicon-remove {
	color: #ca4c4d;
}

.fos_user_profile_edit .required {
	color: red;
}

.h3break {
	word-break: break-all;
}

.btn-default {
	color: #6d6e70 !important;
}

/*BOUTON PAGES*/
/*EDITION MESSAGE ACCUEIL*/
.wysihtml5-sandbox {
	border: 1px solid #cccccc !important;
}

/*FLASHBAG*/
.alert {
	position: absolute;
	width: 50%;
	left: 25%;
}

/*FORM UTILISATEURS*/
.label_form {
	border-bottom: 0px;
	width: 40%;
}

.label_form label {
	width: 8em;
	line-height: 1.7em;
	cursor: hand;
	position: absolute;
	color: #a9a9a9;
	padding: 0em 0.5em;
	border-right: 1px solid #cccccc;
	text-align: center;
}

.pickuser {
	border: 1px solid #cccccc;
}

.pickuser label {
	position: relative;
	border: 0 !important;
}

.pickuser select {
	height: 100% !important;
	border: 0;
	border-left: 1px solid #cccccc;
	padding-left: 1em;

}

.label_form input {
	width: 100%;
	height: 1.8em;
	padding-left: 32%;
}

.label_form_token {
    border-bottom: 0px;
    width: 60%;
}

.label_form_token label {
    width: 8em;
    line-height: 1.7em;
    cursor: hand;
    position: absolute;
    color: #a9a9a9;
    padding: 0em 0.5em;
    border-right: 1px solid #cccccc;
    text-align: center;
}

.label_form_token input {
    width: 100%;
    height: 1.8em;
    padding-left: 32%;
}

.parcou label,
.pickuser label {
	border: 1px solid #cccccc;
}

.label-form-input, .btn_avatar {
	border: 1px solid #cccccc;
}

.glyphicon-search-blue {
	color: rgb(50, 133, 171) !important;
}

/*INPUT AVATAR*/
.parcou label {
	position: relative;
}

.btn_avatar {
	display: inline;
	left: -0.4em;
	position: relative;
	height: 1.85em;
	color: #A9A9A9;
	padding: 0 2em 0 2em;
}

.nom_avatar {
	color: #A9A9A9;
	font-weight: bold;
}

.parc_avatar {
	display: none !important;
}
/*CHECKBOX CREATION USER*/
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
	background: url("/images/switch.gif") repeat-x;
	display: block;
	float: left;
}

.cb-enable span, .cb-disable span {
	line-height: 30px;
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
	color: #a9a9a9;
}

.cb-enable span {
	background-position: left -90px;
	padding: 0 10px;
}

.cb-disable span {
	background-position: right -180px;
	padding: 0 10px;
}

.cb-disable.selected {
	background-position: 0 -30px;
}

.cb-disable.selected span {
	background-position: right -210px;
	color: #ffffff;
}

.cb-enable.selected {
	background-position: 0 -60px;
}

.cb-enable.selected span {
	background-position: left -150px;
	color: #ffffff;
}

.acti label {
	cursor: pointer;
}

.acti input {
	display: none;
}