{% extends "SesileMainBundle:Default:index.html.twig" %}
{% block content %}
    <div class="bloc_page">
        {% for key, message in app.session.flashbag.all() %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}