$font-path: "foundation-icons/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
  url("#{$font-path}.woff") format("woff"),
  url("#{$font-path}.ttf") format("truetype"),
  url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

$foundation-palette: (
    primary: #34a3fc,
    secondary: #2068a2,
    success: #39922c,
    warning: #f48c4f,
    alert: #c82d2e,
);

$button-palette: map-merge($foundation-palette, (
        gray: #edf2f6
)) !default;

$title-color: #797c92;
$sesile-color: (
  dark-blue: #4a4c63,
  gray-blue: #404257
);

@import "./../../../../node_modules/foundation-icons/foundation-icons.scss";
@import "./../../../../node_modules/foundation-sites/scss/foundation";
@include foundation-everything(true);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import './../../../../node_modules/react-datepicker/dist/react-datepicker.css';
@import './../../../../node_modules/react-select/dist/react-select.css';
@import './../../../../node_modules/font-awesome/scss/font-awesome';


@mixin my-icon ($url-image) {
  background: url($url-image) no-repeat transparent;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

@mixin button-icon ($url-image) {
  background: url($url-image) no-repeat transparent;
  padding-left: 3em;
  height: 3em;
  text-align: center;
  cursor: pointer;
}

@mixin my-notification ($bg-color) {
  background: $bg-color;
  font-size:0.75em;
  font-weight:700;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  display: block;
  text-align: center;
  padding-top: 0.2em;
  margin-left: 2.5em;
  cursor: pointer;
}

$font-color-primary: #ffffff;
$sesile-primary: #fe5e3a;

html {
  font-family: 'Open Sans', sans-serif;
}

.button {
  border-radius:0.5em;
  text-transform: uppercase;

  font-weight:700;
  font-size: 0.75em;
  margin-bottom:0;

  &.primary, &.secondary {
    color: #ffffff;
  }
  &.gray {
    color: map-get($sesile-color, 'gray-blue');
    font-weight: normal;
    font-size: 0.75em;
  }
}

.height100 {
  max-height: 100%;
  height: 100%;
}

.header {
  background-color: map-get($sesile-color, 'gray-blue');
  color: $font-color-primary;
  font-family: 'Open Sans', sans-serif;

  .sesile-search {
    height:5.7em;
    margin: 0;
    border: none;
    box-shadow: none;
    color: #8a8eab;
    font-size: 1em;
    font-weight: 700;
    padding-left: 2em;
    background: map-get($sesile-color, 'dark-blue') url("../images/ico_search.png") no-repeat right;
  }

  .logo {
    font-weight: 700;
    background-color: $sesile-primary;
    padding-top: 1em;
    padding-bottom: 1em;
    .logo-init {
      font-size: 3em;
      line-height: 0.8em;
      color: white;
    }
    .logo-name {
      color: white;
      font-size: 0.875em;
      text-transform: uppercase;
    }
  }

  .badge {
    position: absolute;
  }


  .user-log {
    font-weight: 700;
    .avatar {
      background-color: #92278f;
      font-size: 2em;
      border-radius: 2em;
      width: 1.5em;
      float: right;
    }
    .user-name {
      font-size:1em;
    }
    .user-company {
      text-transform: uppercase;
      font-size:0.875em;
      color: #8a8eab;
    }

    .dropdown-pane {

      .avatar {
        width: 2em;
        height: 2em;
        line-height:2em;
      }

      .user-name {
        font-weight:700;
        font-size: 1em;
        color: map-get($sesile-color, 'gray-blue');
      }
      .user-mail {
        font-weight:normal;
        font-size: 1em;
        color: #848488;
      }
      .user-company {
        font-weight:700;
        font-size: 1.25em;
        color: #848488;
      }
      .button {
        margin-bottom:0;
      }

    }
  }
}


.menu-left {
  margin-top:1em;
  margin-bottom:1em;
  a {
    font-size: 0.75em;
    color: map-get($sesile-color, 'dark-blue');
    .fa {
      color: map-get($sesile-color, 'gray-blue');
    }

    &:hover, &.active, &:active {
      .fa {
        color: $sesile-primary;
      }
      color: $sesile-primary;
    }
  }

}

.main {
  h1 {
    text-transform: uppercase;
    font-size: 2em;
  }

  .list-classeurs, .list-classeurs a {
    background-color: #fff;
    color: map-get($sesile-color, 'dark-blue');
    font-size:0.875em;

    .classeur-name:hover {
      color: #ec5935;
    }

    .tri-classeurs {
      color: #87878c;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.6875em;
    }
    .arrow-down {
      border-bottom: 0.8em solid #87878c;
      margin-bottom:1em;
      font-size: 1em;
    }
    .arrow-up {
      border-top: 0.8em solid #87878c;
      margin-top:1em;
      font-size: 1em;
    }
    .title-sort {
      margin-top: 0.8em;
    }
    .classeur {
      border-bottom: solid 1px #a7a7a7;
    }
    .classeur:hover, .classeur:hover a {
      background-color: #edf2f6;
    }
    .img-avatar {
      margin-right:1em;
    }
    input[type=checkbox] {
      margin: 1em 0;
    }

    .dropdown-pane-circuit {
      font-size: 0.875em;
      background-color: #edf2f6;
      border-top: 0;
      h3 {
        color: $title-color;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

  }


  .fa {
    color: map-get($sesile-color, 'gray-blue');
    font-size: 1.5em;
    &.fa-comment {
      transform: scaleX(-1);
    }
  }

  .button-list {
    a {
      font-size: 1.5em;
      &.fa {
        color: lighten(map-get($sesile-color, 'gray-blue'), 30);
      }

      &:hover {
        &.fa {
          color: $sesile-primary;
        }
        color: $sesile-primary;
      }
    }
  }

  .progress {
    border-radius: 1em;
    height: 0.7em;
    background-color: white;
    border: solid 1px #a7a7a7;
  }
  .progress-meter {
    border-radius: 1em;
  }

  .btn-classeur-action {
    font-size: 2em;
    color: darkgrey;
    line-height: 2em;
  }
  .btn-classeur-action:hover {
    color: grey;
  }

  background-color: #edf2f6;

  .actu {
    color: $font-color-primary;
    font-weight:700;
    font-size: 1em;
    background-color: #34a3fc;
    h1 {
      font-size: 2em;
      text-transform: uppercase;
      padding:1em 0;
      font-weight:700;
    }
    h2 {
      font-size: 1em;
      text-transform: uppercase;
      text-decoration: underline;
      font-weight:700;
    }
    h5 {
      margin-bottom:0;
    }
  }

  .panel {
    background-color: #ffffff;
    border-radius: 0.3em;
    margin-bottom: 5em;
    .panel-heading {
      font-weight:700;
      font-size:1em;
      text-transform: uppercase;
      padding-top:1.5em;
      padding-bottom:1em;
    }
    .panel-body {
      color: map-get($sesile-color, 'dark-blue');
      font-size:0.875em;
      font-weight:normal;
      border-top: solid 1px #a7a7a7;
      padding-top:1em;
      padding-bottom:1em;
    }
    .panel-body-no-padding {
      color: map-get($sesile-color, 'dark-blue');
      font-size:0.875em;
      font-weight:normal;
      border-top: solid 1px #a7a7a7;
    }
  }

  /**
  Dashboard
   */
  .list-dashboard {
    margin-top: 1em;
    a {
      color: map-get($sesile-color, 'dark-blue');
    }
  }

  /**
  Liste Classeur
   */
  .head-list-classeurs {
    h2 {
      color: $title-color;
      font-weight:700;
      font-size: 0.875em;
      text-transform: uppercase;
    }
  }

  .list-classeurs {
    margin-bottom: 20em;
  }

  .admin-content-details .UserAvatar > div {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

}

.circuit-list {
  .circle {
    font-size: 1.125em;
    border-radius: 2em;
    width: 2em;
    height: 2em;
    &.success {
      border: solid 0.3em $success-color;
    }
    &.gray {
      border: solid 0.3em $title-color;
    }
    &.warning {
      border: solid 0.3em $warning-color;
    }
    &.alert {
      border: solid 0.3em $alert-color;
    }
  }
  .padding-cell {
    padding-top: 0.3em;
  }
}

.text-author {
  font-style: italic;
  font-size: 0.8em;
  font-weight: 700;
}
.text-bold {
  font-weight:700;
}

.text-success {
  color: $success-color;
}
.text-warning {
  color: $warning-color;
}
.text-alert {
  color: $alert-color;
}
.text-gray {
  color: $title-color;
}

.input-group-label {
  background-color: $primary-color;
  border-color: $primary-color;
}

.input-group-field {
  border-color: $primary-color;
}

.fa {
  color: white;
  width: 1rem; // makes the width of icon labels equal
}

.img-avatar {
  border-radius: 2em;
  width: 3em;
  height: 3em;
}

.txt-avatar {
  color: white;
  font-weight: 700;
  font-size: 1.5em;
}

.arrow-down, .arrow-down:hover, .arrow-down:focus {
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;

  border-top: 0.8em solid #fff;
  border-radius: 0;
  background: transparent;
  padding: 0;
  margin-top: 0.5em;
  margin-left: 1em;
}

.arrow-up, .arrow-up:hover, .arrow-up:focus {
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;

  border-bottom: 0.8em solid #fff;
  border-radius: 0;
  background: transparent;
  padding: 0;
  margin-top: 0.5em;
  margin-left: 1em;
}

.details-classeur {

  background: $white;

  .bold-info-details-classeur, h3 {
    color: map-get($sesile-color, 'gray-blue');
    font-weight: 700;
    font-size: 0.75em;
    text-transform: uppercase;
  }
  h3 {
    margin: 0.5em 0 1em;
  }

  .info-details-classeur {
    color: map-get($sesile-color, 'gray-blue');
    font-weight: normal;
    font-size: 0.875em;
    text-transform: capitalize;
  }

  .classeur-progress {
    font-weight: 700;
    font-size: 0.75em;
    text-transform: uppercase;
  }

  .circuit-list {
    font-size: 0.875em;
    .circuit-add {
      font-size: 1em;
    }
  }

  .imgPreview {
    height: 100%;
  }

}
#name-search-admin,
#user-search-admin {
  border: 0;
  box-shadow: none;

  &:focus {
    border: 0;
    box-shadow: none;
  }
}
.list-admin {

  .row-admin {
    cursor: pointer;
  }
}

.circuit-validation {
  padding: 2em;

  .details-circuit-validation {

    .name-details-circuit-validation {
      background-color: $sesile-primary;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      text-transform: uppercase;
      font-weight: 700;
      color: white;
      padding: 1em;
    }

    .content-details-circuit-validation {
      padding:1em;
      background: white;
    }
  }
}

.step-item{
    border-radius: 0.3em;
    background: $light-gray;
    padding: 0.3em;

    .name-step-item {
      font-weight: 700;
    }

    .content-step-item {
      background: white;
      border-radius: 0.3em;
      color: $dark-gray;
      ul {
        padding:0.5em;
      }
      a {
        color: $dark-gray;
        float: right;
        margin-right: 0.3em;
      }
    }
  }

.parameters-user-group {
  .details-user-group {
    .name-details-user-group {
      background-color: $sesile-primary;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      padding: 1em;
      div input {
        background: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        width: auto;
      }
      i {
        color: white;
      }
    }
  
    .content-details-user-group {
      padding:1em;
      background: white;
    }
  }

  .list-user-group {
    border-radius: 0.3em;
    background: $light-gray;
    padding: 0.3em;

    .name-list-user-group {
      font-weight: 700;
    }

    .content-list-user-group {
      background: white;
      border-radius: 0.3em;
      color: $dark-gray;
      ul {
        padding:0.5em;
      }
      a {
        color: $dark-gray;
        float: right;
        margin-right: 0.3em;
      }
      li button span {
        padding: 0em 3.5em;
      }
    }
  }
}

.admin-details {
  .admin-head-details {
    background-color: $sesile-primary;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    font-weight: 700;
    color: white;
    padding: 1em;
    input {
      background: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
      color: white;
    }
    i {
      color: white;
    }
  }

  .admin-content-details {
    padding-top:2em;
    padding-bottom:2em;
    background: white;
    input[type=text]  {
      width: 100%;
      padding:0.5em;
    }
  }
}

$list-group-background: $white;
$list-group-active-background: $primary-color;
$list-group-hover-background: $light-gray;
$list-group-disabled-background: $white;
$list-group-font-color: $body-font-color;
$list-group-font-disabled-color: $dark-gray;
$list-group-font-active-color: $white;
$list-group-border: 1px solid $light-gray;
$list-group-active-border: 1px solid $primary-color;
$list-group-shadow: none;
$list-group-border-radius: $global-radius;
$list-group-padding: $global-padding;
$list-group-margin: $global-margin;



.autocomplete {
  position: relative;
  .input-autocomplete {
    margin: 0;
  }
  .list-autocomplete {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    z-index: 100;
    .list-group {
      margin: 0 !important;
      padding: 0 !important;
      margin-bottom: $list-group-margin;
      border: $list-group-border;
      border-radius: $list-group-border-radius;
      background: $list-group-background;
      box-shadow: $list-group-shadow;
      overflow: hidden;
      color: $list-group-font-color;
    
      & > :last-child {
        margin-bottom: 0;
      }
    }
    
    .list-group-item {
      padding: 0.7em;
      border-bottom: $list-group-border;
      cursor: pointer;
      color: #0a0a0a;

      & > :last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
    
      &.active {
        color: $list-group-font-active-color;
        background-color: $list-group-active-background;
        border-color: $list-group-active-border;
      }
    
      &:hover, &:focus {
        background-color: $list-group-hover-background;
        &.active {
          background-color: $list-group-active-background;
        }
      }
    
      &.disabled,
      &[disabled] {
        &,
        &:hover, &:focus {
          color: $list-group-font-disabled-color;
          cursor: not-allowed;
          background-color: $list-group-disabled-background;
        }
      }
    }
  }
}

.large{ font-size: 50px; line-height: 50px; }
.medium { font-size: 1.6em;}
.small { font-size: 20px; padding: 0 5px; }
.text-uppercase{ text-transform: uppercase; }

.admin-details {
  padding: 2em;
  .admin-details-name {
    background-color: $sesile-primary;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding: 1em;
    height: 3.5em;
    input {
      background: #fefefe2e;
      border-bottom-color: #fefefe47;
      border-left-style: none;
      border-top-style: none;
      border-right-style: none;
      outline: none;
      text-transform: none;
      font-weight: 700;
      color: #fefefe;
      padding: 0.4em 0.5em 0.3em 0.6em;
    }
  }

  .admin-details-accordion-title {
    background-color:white;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    padding: 1em;
  }

  .admin-content-details {
    padding:1em;
    background: white;
  }
}

.draggable-position-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
}

.RichTextEditor__editor___1QqIU {
  height: 200px;
}

.app-infos {
  text-align: center;
  font-size: 0.7em;
  font-weight: 700;
  a {
    color: map-get($sesile-color, 'dark-blue');
  }
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 30px;
  padding: 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 32px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
  max-height: 8em;
  overflow-y: auto;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

/* Input type  */
label > input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: $white;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none;
}


.note-ico {
  font-size:1.6em;
  cursor: pointer;
}

.reveal-ico {
  font-size:1.6em;
  cursor: pointer;
  z-index: 150;
  position: fixed;
  top: 0.2em;
  right: 1em;
}

// Document
.dropzone {
  background: $white;
  border: dashed 0.2em $sesile-primary;
  cursor: pointer;
}

.document-name {
  font-size: 0.875em;
}

.document-ico {
  font-size: 3em;
  cursor: pointer;
}

.document-remove {
  position: absolute;
  font-size: 1.5em;
  color: $alert-color;
  cursor: pointer;
  margin: 0.3em 0 0 0.7em;
}

.reveal-full {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: $white;
}

.react-datepicker__input-container {
  input {
    cursor: pointer;
    background: #fefefe;
  }
}

.icon-action {
  cursor: pointer;
  color: #4a4c63;
  line-height: 0;
  &:hover {
    color: #ec5935;
  }
}

.close-button-dropdown-confirmation {
  color: #8a8a8a;
  cursor: pointer;
  right: 1rem;
  top: 0.5rem;
  font-size: 2em;
  line-height: 1;
}

.dropdown-confirm-delete {
  border-radius: 0.4;
}

.documentation-dropzone {
  height: 10em;
  border-width: 0.1em;
  border-color: rgba(64, 66, 87, 1);
  border-style: dashed;
  border-radius: 0.3em;
  text-align: center;
  color: #404257;
}

.documentation-dropzone:hover {
  background-color: rgba(64, 66, 87, 0.53);
}

.text-small { font-size: 0.8em; }

.admin_search_input {
  input {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    color: #333;
  }
}