<div id="new_circuit_content">
    Mon cul sur le circuit.
<input type="hidden" id="newcircuit" name="newcircuit[]" value="1"/>
<input type="hidden" id="newcircuit" name="newcircuit[]" value="2"/>
<input type="hidden" id="newcircuit" name="newcircuit[]" value="3"/>
</div>