{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <form class="form_action" action="{{ path("admin_msg") }}" method="post">
        <button type="submit" class="btn btn-success">Mettre à jour</button>
        <textarea name="msg" cols="80" rows="10"></textarea>

    </form>
{% endblock %}