{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-cog"></span>
            &nbsp;&nbsp;&nbsp;Administration
        </div>
        <form action="{{ path('admin') }}" {{ form_enctype(form) }} method="POST">
            {{ form_label(form.msg) }}
            {{ form_widget(form.msg, attr: ) }}
        </form>
    </div>
{% endblock %}