{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <p>Vous n'avez pas les droits d'accès à cette page, <a href="{{ path('sesile_main_default_app') }}">Cliquez ici</a> pour revenir à la
        page d'accueil</p>
{% endblock %}