{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info alert-dismissable" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning alert-dismissable" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage }}
    </div>
{% endfor %}
<script type="text/javascript">
    $('.alert-dismissable').each(function () {
        $(this).delay(300).show("slow").delay(3000).hide("slow");
    });
</script>