{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-folder-open"></span>
            &nbsp;&nbsp;&nbsp;Gestion du certificat d'un utilisateur
        </div>
{{ entity.nom }} - {{ http }}
    </div>
{% endblock %}