{% extends "SesileMainBundle:Default:index.html.twig" %}

{% block content %}
    <p>L'utilisateur possède déjà un compte dans le CAS, <a href="{{ path('liste_users') }}">cliquez ici</a> pour
        revenir à la liste des utilisateurs</p>
{% endblock %}