{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <div class="titre_page">
            <span class="glyphicon glyphicon-export"></span>
            &nbsp;&nbsp;&nbsp;Gérer les Délégations
        </div>
        {% set donnees = true %}
        {% include 'SesileDelegationsBundle:Default:liste.html.twig' %}
        <a href="{{ path('delegation_new') }}">Déléguer ses droits</a>
    </div>
    <script type="application/javascript" src="{{ asset("/datatables/jquery.dataTables.min.js") }}"></script>
    <link type="text/css" href="{{ asset("/datatables/css/jquery.dataTables.css") }}" rel="stylesheet"/>
    <script type="text/javascript">
        $(".dtables").dataTable({
            "oLanguage": {
                "sSearch": "Rechercher&nbsp;:",
                "sInfo": "Classeur  _START_ &agrave; _END_ sur _TOTAL_",
                "sInfoEmpty": "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "oPaginate": {
                    "sFirst": "",
                    "sPrevious": "",
                    "sNext": "",
                    "sLast": ""
                },
                "sZeroRecords": "Vous n'avez attribu&eacute; aucune d&eacute;l&eacute;gation ",
                "sEmptyTable": "Vous n'avez attribu&eacute; aucune d&eacute;l&eacute;gation "
            },
            "iDisplayLength": 15,
            "sDom": 'ift<"footer_datatables"p>',
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [ 3 ] }
            ],
            "sPaginationType": "full_numbers"
        });
    </script>
{% endblock %}

