{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <h1>Délégations reçues</h1>
        {% include 'SesileDelegationsBundle:Default:liste.html.twig' %}
    </div>
{% endblock %}
