{% extends 'SesileMainBundle:Default:index.html.twig' %}

{% block content %}
    <div class="bloc_page">
        <h1>Délégats</h1>
        {% set donnees = true %}
        {% include 'SesileDelegationsBundle:Default:liste.html.twig' %}
        <a href="{{ path('delegation_new') }}">Déléguer ses droits</a>
    </div>
{% endblock %}
