Bonjour {{ deposant }},
<br>
Le classeur "{{ titre_classeur }}" vient d'être refusé par {{ validant }}
<br>
Vous devez y apporter les modifications nécessaires avant de le soumettre à nouveau
<br>
Vous pouvez visionner le classeur <a href="{{ lien|raw }}"></a>